@import "./../../../scss/variables.scss";

.example-card {
  max-width: 320px;
  margin-right: 25px;
  margin-bottom: 25px;

  .mdc-card__media {
    height: 320px;
    object-fit: cover;
  }

  .dropdown-menu {
    position: absolute;
    z-index: 10;
    right: 0;
    background-color: white;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    margin: 8px;

    ::ng-deep .mat-mdc-button-touch-target {
      height: 32px !important;
      width: 32px !important;
    }

    .mat-mdc-icon-button.mat-mdc-button-base {
      height: 32px;
      width: 32px;
      &:hover {
        background-color: $light-orange;
      }
    }

    .mat-mdc-icon-button.mat-mdc-button-base {
      padding: 0;
    }
    .menu-icons {
      margin-top: 6px;
      font-size: 20px;
    }
  }

  .mat-mdc-card-content {
    min-height: 122px;
  }

  .plant-name {
    margin-top: 10px;
    color: $dark-green;
  }
  .plant-nickName {
    font-weight: 400;
    font-size: 16px;
    color: $dark-blue-title;
  }
  .plant-family {
    font-weight: 400;
    color: grey;
    font-size: 14px;
    margin-bottom: 14px;
    margin-top: 4px;
  }
  .req-title {
    font-weight: 500;
    margin-right: 4px;
    white-space: nowrap;
  }

  .icons {
    font-size: 14px;
    color: $orange;
    margin-right: 6px;
    width: 14px;
    height: 14px;
  }
}
