<div class="login-page">
  <div class="left-container">
    <div class="logo">
      <img src="../../../assets/logo.png" alt="logo" />
      <h3>Plant Diary</h3>
    </div>
    <h3 class="login-title">{{ title }}</h3>

    <div class="login-form">
      <form
        [formGroup]="loginForm"
        (ngSubmit)="isRegisterForm ? onRegister() : onLogin()"
      >
        <div *ngIf="isRegisterForm" class="form-group">
          <input
            placeholder="Full Name"
            type="name"
            id="name"
            name="name"
            [formControl]="name"
            required
          />
          <div
            *ngIf="name.invalid && (name.dirty || name.touched)"
            class="error"
          >
            <div *ngIf="name.errors && name.errors['required']">
              Name is required.
            </div>
          </div>
        </div>
        <div class="form-group">
          <input
            placeholder="Email"
            type="email"
            id="email"
            name="email"
            [formControl]="email"
            required
          />
          <div
            *ngIf="email.invalid && (email.dirty || email.touched)"
            class="error"
          >
            <div *ngIf="email.errors && email.errors['required']">
              Email is required.
            </div>
            <div *ngIf="email.errors && email.errors['email']">
              Invalid email format.
            </div>
          </div>
        </div>

        <div class="form-group">
          <input
            placeholder="Password"
            type="password"
            id="password"
            name="password"
            [formControl]="password"
            minlength="6"
            required
          />
          <div
            *ngIf="password.invalid && (password.dirty || password.touched)"
            class="error"
          >
            <div *ngIf="password.errors && password.errors['required']">
              Password is required.
            </div>
            <div *ngIf="password.errors && password.errors['minlength']">
              Please enter a password with at least 6 characters.
            </div>
          </div>
        </div>

        <button [ngClass]="isRegisterForm ? 'register-button' : 'login-button'" type="submit" [disabled]="loginForm.invalid" >
          {{ title }}
        </button>
      </form>
    </div>

    <div *ngIf="isRegisterForm; else loginText">
      <p>
        Have an account?
        <a class="register-link" href="/auth/login">Log in now</a>
      </p>
    </div>
    <ng-template #loginText>
      <p>
        Don't have an account?
        <a class="register-link-login" href="/auth/register">Register</a>
      </p>
    </ng-template>

    <br />

    <div *ngIf="errorMsg" class="error">
      {{ errorMsg }}
    </div>
  </div>
  <div class="right-container">
    <img
      [src]="
        isRegisterForm
          ? '../../../assets/7221354.jpg'
          : '../../../assets/5261815.jpg'
      "
    />
  </div>
</div>
