// Texts & Background

$green-grey: #c5cbc3;
$brown: #d3e3cc;
$beige: #f2e7d9;

$orange: #fdb433;
$dark-orange: #f88c32;
$light-orange: #fddd92;

$green: #00c67f;
$dark-green: #02ad6f;

$lime-green: #72d98b;
$lime-light-green: #72d98c96;


$dark-blue-title:#425460
